.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

form
{
    text-align: center;
}

.alert-info{background-color:#D0E8F6;border-color:#AED7EF;color:#245C7E}.alert-info hr{border-top-color:#D0E8F6}.alert-info .alert-link{color:#5C8CA7}

.alert .close {color:#245C7E;}