{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="col-lg-4">
    <div style="text-align: justify;">
    <h5>About</h5>
    fini is your simplistic, easy-to-use and available financial news and market information aggregator.

    A Harvard CS50 Final Project, fini welcomes registered users with their preferred news, filtered by companies, industries and geographies. Search allows you to expand your horizons by searching for any ticker, industry or geography. Upon searching by a company’s ticker, you will be presented by its logo, key performance metrics and top news. Easily follow the company, industry or geography, adding it to your preferences.

    fini is a non-profit project. We welcome any feedback or questions by e-mail contact.
    </div>
    <img src="static/gs_black.png" style="width:50px;height:50px;margin-top: 100px;"><br>
    <div style="margin-bottom: 100px;"<i>Made by GS</i></div>
    </div>
{% endblock %}
