{% extends "layout.html" %}

{% block title %}
    Contact Us
{% endblock %}

{% block main %}
    <div class="col-lg-6">
    <img class="img-profile" src="static/grace.png"><br> 
    <h5>Grace</h5>
    <center><div style="width:200px;text-align: justify;">
    Grace Zhang is a freshman of Canaday at Harvard College. The expert coder among us has led back-end programming. She is interested in mathematics, computer science, finance, and of course, hackathons! Feel free to reach out with any feedback or questions!<br><br>
    </div>
    <a href="mailto:gyzhang@college.harvard.edu" class="btn btn-default btn-xs" type="submit">Contact Grace</a></center>
    </div>
    <div class="col-lg-6">
    <img class="img-profile" src="static/sander.png"><br> 
    <h5>Sander</h5>
    <center><div style="width:200px;text-align: justify;">
    Sander Coates is a visiting under-graduate student in Dudley House at Harvard College. The visionary among us has been in charge of graphic design and front-end programming. He is interested in rowing, applied science and finance. Do not hesitate to contact him with any feedback or questions.
    <br><br>
    </div>
    <a href="mailto:coates@college.harvard.edu" class="btn btn-default btn-xs" type="submit" style="margin-bottom: 100px;">Contact Sander</a></center>
    </div>
    <br>
{% endblock %}
