{% extends "layout.html" %}

{% block title %}
    Contact Us
{% endblock %}

{% block main %}
    <div class="col-lg-6">
    <img class="img-profile" src="static/grace.jpg"><br> 
    <h5>Grace</h5>
    <center><div style="width:150px;">
    Grace Zhang is a freshman of Cannaday in Harvard College. The expert coder among us has been in charge of back-end programming. She is interested in [interests...] and would be happy to hear from you.<br><br>
    <a href="mailto:gyzhang@college.harvard.edu" class="btn btn-default btn-xs" type="submit">Contact Grace</a>
    </div></center>
    </div>
    <div class="col-lg-6">
    <img class="img-profile" src="static/sander.png"><br> 
    <h5>Sander</h5>
    <center><div style="width:150px;">
    Sander Coates is a visiting undergraduate student in Dudley House at Harvard College. The visionary among us has been in charge of design and front-end programming. He is interested in rowing, applied science and finance and would be happy to hear from you.
    <br><br>
    <a href="mailto:coates@college.harvard.edu" class="btn btn-default btn-xs" type="submit">Contact Sander</a>
    </div></center>
    </div>
    <br>
{% endblock %}
