{% extends "layout.html" %}

{% block title %}
    Preferences
{% endblock %}

{% block main %}
    <h5>Preferences</h5>
    <div class="col-lg-4">
    <b>Companies</b>
    <table class="table table-striped">
        <tbody>
            {% if userCompany == [] %}
                <br><i>No company preferences</i>
            {% else %}
                {% for company in userCompany %}
                    <tr>
                        <td>{{ company["name"] }}</td>
                        <td>
                            <form action="#" method="post">
                                            <button class="btn btn-default" id="Company" type="submit" name="idCompany" value={{ company["idCompany"] }}>X</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    </div>
    <div class="col-lg-4">
    <b>Industries</b>
    <table class="table table-striped">
        <tbody>
            {% if userIndustry == [] %}
                <br><i>No industry preferences.</i>
            {% else %}
                {% for industry in userIndustry %}
                    <tr>
                        <td>{{ industry["name"] }}</td>
                        <td>
                            <form action="#" method="post">
                                            <button class="btn btn-default" id="Industry" type="submit" name="idIndustry" value={{ industry["idIndustry"] }}>X</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    </div>
        <div class="col-lg-4">
    <b>Geographies</b>
    <table class="table table-striped">
        <tbody>
            {% if userGeography == [] %}
                <br><i>No geography preferences.</i>
            {% else %}
                {% for geography in userGeography %}
                    <tr>
                        <td>{{ geography["name"] }}</td>
                        <td>
                            <form action="#" method="post">
                                            <button class="btn btn-default" id="Geography" type="submit" name="idGeography" value={{ geography["idGeography"] }}>X</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    </div>
    <br>
    <script>
      var category = ["Company", "Industry", "Geography"];

      for (var i = 0; i < category.length; i++) {
          document.getElementById(category[i]).addEventListener("click", unfollow(e, i));
      }

      function unfollow(i) {
      var follow = false;
      if (document.getElementById("{{ category }}").innerHTML == "Follow") {
        follow = true;
      }
      document.getElementById("{{ category }}").addEventListener("click", function(e) {
          e.preventDefault();
          $.ajax({
            type: "POST",
            url: "/followUpdate?id={{ idGroup }}&category={{ category }}&follow=" + follow,
            timeout: 2000,
            contentType: "application/json; charset=utf-8",
            beforeSend: function() {
              // console.log ("BEFORE FOLLOW SEND");
            },
            complete: function() {
              // console.log ("COMPLETE FOLLOW LOADING");
            },
            success: function(data) {
              if (follow) {
                document.getElementById("{{ category }}").innerHTML = "Unfollow";
                follow = false;
              }
              else {
                document.getElementById("{{ category }}").innerHTML = "Follow";
                follow = true;
              }
              // console.log ("SUCCESS FOLLOW LOADING");
            },
            fail: function() {
              // console.log("FOLLOW FAILED");
            }
          });
        });
      }
    </script>
{% endblock %}
