{% extends "layout.html" %}

{% block title %}
    Results
{% endblock %}

{% block main %}
    <h5>Interests</h5>
    <div class="col-lg-4">
    <b>Companies</b>
    <table class="table table-striped">
        <tbody>
            {% for company in userCompany %}
                <tr>
                    <td>{{ company["name"] }}</td>
                    <td>
                        <form action="{{ url_for('follow') }}" method="post">
                                        <button class="btn btn-default" type="submit" name="idCompany" value={{ company["idCompany"] }}>X</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="col-lg-4">
    <b>Industries</b>
    <table class="table table-striped">
        <tbody>
            {% for industry in userIndustry %}
                <tr>
                    <td>{{ industry["name"] }}</td>
                    <td>
                        <form action="{{ url_for('follow') }}" method="post">
                                        <button class="btn btn-default" type="submit" name="idIndustry" value={{ company["idIndustry"] }}>X</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
        <div class="col-lg-4">
    <b>Geographies</b>
    <table class="table table-striped">
        <tbody>
            {% for geography in userGeography %}
                <tr>
                    <td>{{ geography["name"] }}</td>
                    <td>
                        <form action="{{ url_for('follow') }}" method="post">
                                        <button class="btn btn-default" type="submit" name="idGeography" value={{ company["idGeography"] }}>X</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
