{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <h5>Search</h5>
    <form action="/search" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="prompt" type="text" size="28"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default btn-xs" type="submit" name="button" value="company">Company</button>
                <button class="btn btn-default btn-xs" type="submit" name="button" value="industry">Industry</button>
                <button class="btn btn-default btn-xs" type="submit" name="button" value="geography">Geography</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
